@media(max-width:769px) {
    .pc {
        display: none;
    }
    .ipad {
        display: block;
        padding: 0;
    }
    .main1 {
        display: block;
        margin-bottom: 18%;
    }
    .main1-text {
        width: 100%;
        /* margin: 0 4%; */
    }
    .main1-img {
        width: 100%;
        background-color: #fff;
        /* padding: 5%; */
    }
    .inf-flex {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 65%;
    }
}

@media(max-width:767px) {
    .top-logo {
        width: 40%;
        margin-top: 7%;
    }
    .header-img1 img {
        /* text-align: center; */
        width: 100%;
        padding: 5%;
    }
    .scrollable {
        margin-top: 20px;
        width: 91%;
        overflow-y: scroll;
        height: 400px;
        padding: 0 40px;
        margin-left: 20px;
    }
    .news-mex {
        width: 100%;
        margin-left: 0px;
    }
    .step-flex {
        display: block;
        justify-content: space-between;
    }
    .step-co {
        background-color: #FFF;
        width: 100%;
        padding: 5%;
    }
    .step-tu {
        display: none;
    }
    .max768 {
        display: none;
    }
    .max767 {
        display: block;
    }
    .ipad {
        display: block;
        padding: 0;
        margin: 0;
        padding: 5% 0;
    }
    .fff {
        color: #fff;
    }
    .header-me p {
        margin: 0;
    }
    /* .margin {
        margin-bottom: 5%;
        display: table;
        background: none;
        margin-bottom: 5%;
        border-bottom: 1px solid #fa465f;
    } */
    .main1-ti2 span {
        margin-bottom: 0;
        display: table;
        background: linear-gradient(transparent 50%, #fa465f 60%);
    }
    .inf-co-ti {
        position: absolute;
        top: -44px;
        left: px;
        color: #fff;
        background: #fa465f;
        -webkit-transform-origin: left bottom;
        /* transform-origin: left bottom; */
        -webkit-transform: none;
        transform: none;
        z-index: 2;
        padding: 8px 13px;
        top: 0;
    }
    .inf-co-co1 {
        display: block;
        justify-content: space-between;
    }
    .inf-co-co1 {
        display: block;
        justify-content: space-between;
    }
    .flex h3 {
        margin: 0;
        color: #a48c61;
        font-size: 15px;
        margin: 4%;
    }
    .inf-co2 {
        width: 100%;
        /* display: flex; */
        margin: 0.5%;
        position: relative;
        margin-bottom: 5%;
    }
    .inf-flex {
        display: flex;
        justify-content: space-around;
        position: absolute;
        top: 80%;
    }
    .catListCol .catList {
        padding: 0;
        text-align: center;
        /* margin-right: 30px; */
    }
    .kijyun {
        margin: 10%;
        position: relative;
        margin: 0;
        border: 1px solid #d9d9d9;
        padding: 49px 49px 36px;
        background-color: #FFF;
        margin: 15% 0;
    }
    .small {
        font-weight: 400;
        font-size: 10px;
        margin-left: 0;
    }
    /* .price-flex {
        display: block;
        justify-content: space-around;
    } */
    .price-mu {
        width: 100%;
        margin: 4% 1.5%;
    }
    /* .con-flex {
        display: block;
        justify-content: space-around;
    } */
    .con-img {
        margin: 4% 0;
    }
    .faq-list-item h3 {
        font-size: 14px;
        width: 90%;
        margin-bottom: 3%;
    }
    #faq-list {
        width: 90%;
        margin: 0 auto;
        padding: 0;
        list-style: none;
    }
    .sec-flex {
        margin: 7% 0;
        display: block;
        justify-content: space-between;
    }
    .sec-co {
        width: 100%;
        /* position: relative; */
        margin: 0 2%;
    }
    .sec-me {
        padding: 8%;
    }
    .bac {
        background-color: #fff;
        padding: 5% 0;
        /* position: relative; */
    }
    .footer-flex {
        display: none;
        justify-content: space-around;
    }
    .footer-bo {
        text-align: center;
        padding-top: 8%;
        margin: 0;
        color: #fff;
    }
    .footer-bo p {
        margin: 0 5%;
    }
}
